
.quizanswer{
	padding: 0.3rem; 
	margin-top: 0.3rem;
	margin-bottom: 0;
} 

.answer-tag-left{
	position: absolute; 
	top: 13px;
	left: 10px;
}

.answer-tag-right{
	position: absolute; 
	top:13px;
	right: 10px;
}